---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="font-sans">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
	</head>
	<body class="bg-background text-secondary-text">
		<div class="background-grid"></div>
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: 'Inter', sans-serif;
	}

	body {
		position: relative;
		overflow-x: hidden;
	}

	.background-grid {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background-image:
			linear-gradient(to right, rgba(31, 41, 55, 0.5) 1px, transparent 1px),
			linear-gradient(to bottom, rgba(31, 41, 55, 0.5) 1px, transparent 1px);
		background-size: 2rem 2rem;
	}

	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
